html, body {
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: red;
    overflow: hidden;
    width: 100%;
    position: fixed;
    box-shadow: 2px 0px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header a {
    float: left;
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    float: left;
    color: red;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    background-color: white;
}

#headline {
    padding-top: 100px;
    padding-left: 20px;
    font-size: 40px;
    color: grey;    
}

#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 5px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#flex-container > a {
    text-decoration:none;
}

.transaction-select-container {
    color: grey;
    border: 1px solid grey;
    min-height: 50px;
}

.transaction-select-container:hover {
    outline: 7px solid red; 
}