.transaction-property {
	width: 500px;
	font-size: 24px;
	color: grey;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;	
}

#button-container {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;	
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    gap: 5px;
}

.btn_functions {
    width: 100px;
    height: 30px;
    font-size: 17px;
    background-color: red;
    color: white;
    font-weight: bolder;
    border: none;
}
.btn_functions:hover {
    color: red;
    font-size: 17px;
    font-weight: bolder;
    background-color: white;
    border: 1px solid red;
}

#btn_back {
	margin-right: 20px;
    width: 100px;
    height: 30px;
    color: red;
    font-size: 17px;
    font-weight: bolder;
    background-color: white;
    border: 1px solid red;
}

#btn_back:hover {
	margin-right: 20px;
	font-size: 17px;
    background-color: red;
    color: white;
    font-weight: bolder;
    border: none;
}