<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Webbanking</title>
	<link href="/style/default.css" rel="stylesheet">
	<link href="/style/index.css" rel="stylesheet">
</head>

<body>
	<header th:replace="header :: header"></header>
	<main>
		<div id="headline">Zahlungen</div>
		<div id="flex-container">
			<div th:each="transaction: ${transactions}">
				<a th:href="@{/transaction(transaction=${transaction.id})}">
					<div class="transaction-select-container">
						<div id="tsc-top">
							<div>
								<span th:utext="${#temporals.format(transaction.date, 'dd.MM.yyyy HH:mm')}"></span>
							</div>
						</div>
						<div id="tsc-mid">
							<div>
								<span th:utext="${transaction.receiver}"></span>
							</div>
							<div>
								<span th:text="${#numbers.formatDecimal(transaction.amount, 1, 'COMMA', 2, 'POINT')}"></span>€
							</div>
						</div>
						<div id="tsc-bottom">
							<div>
								<span th:utext="${transaction.purpose}"></span>
							</div>
						</div>

					</div>
				</a>
			</div>
		</div>
	</main>
</body>

</html>