<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Webbanking</title>
		<link href="/style/default.css" rel="stylesheet">
		<!-- <script src="/script/index.js" type="module"></script> -->
	</head>
	<body>
		<header>
			<a href="#" th:href="@{/}">Webbanking</a>
		</header>
		<main>
			<div id="headline">Zahlungen</div>
			<div id="flex-container">
				<a th:each="transaction: ${transactions}">
					<div class="transaction-select-container">
						<span th:utext="${transaction.receiver}"></span>
						<span th:utext="${transaction.iban}"></span>
						<span th:utext="${transaction.bic}"></span>
						<span th:utext="${transaction.purpose}"></span>
						<span th:utext="${transaction.amount}"></span>
					</div>
				</a>
			</div>
		</main>
	</body>
</html>