<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Webbanking</title>
    <link href="/style/default.css" rel="stylesheet">
</head>

<body>
    <header th:replace="header :: header"></header>
    <main>
        <div id="headline">
            Neue Überweisung
        </div>
		<div class="form-transaction">
			<form th:action="@{/newTransaction}" th:object="${transaction}" method="post">
				<div class="form-transaction-parameter">
					<label>ID</label>
					<input type="number" class="form-field" th:field="*{id}">
				</div>	
				<div class="form-transaction-parameter">
					<label>Empfänger</label>
					<input type="text" class="form-field" th:field="*{receiver}">
				</div>
				<div class="form-transaction-parameter">
					<label>IBAN</label>
					<input type="text" class="form-field" th:field="*{iban}">
				</div>
				<div class="form-transaction-parameter">
					<label>BIC</label>
					<input type="text" class="form-field" th:field="*{bic}">
				</div>
				<div class="form-transaction-parameter">
					<label>Betrag</label>
					<input type="number" step="0.01" class="form-field" th:field="*{amount}">
				</div>
				<div class="form-transaction-parameter">
					<label>Verwendungszweck</label>
					<input type="text" class="form-field" th:field="*{purpose}">
				</div>
				<input type="submit" value="Überweisung erstellen">
			</form>
		</div>
    </main>
</body>

</html>