<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Webbanking</title>
		<link href="/style/default.css" rel="stylesheet">
		<link href="/style/transaction.css" rel="stylesheet">
		</head>
	<body>
		<header th:replace="header :: header"></header>
		<main>
			<div id="headline">Zahlung: <span th:text="${transaction.id}">##</span></div>
			<div id="transaction">
				Empfänger: <span th:text="${transaction.receiver}"></span></br>
				IBAN: <span th:text="${transaction.iban}"></span></br>
				BIC: <span th:text="${transaction.bic}"></span></br>
				Betrag:  <span th:text="${#numbers.formatDecimal(transaction.amount, 1, 'COMMA', 2, 'POINT')}"></span> €</br>
				Verwendungszweck: <span th:text="${transaction.purpose}"></span></br>
			</div>
		</main>
	</body>
</html>